<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mnist_hmm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <mnist_hmm.Properties.Settings>
            <setting name="TrainLabels" serializeAs="String">
                <value>C:\datasets\mnist\train-labels-idx1-ubyte</value>
            </setting>
            <setting name="TrainImages" serializeAs="String">
                <value>C:\datasets\mnist\train-images-idx3-ubyte</value>
            </setting>
            <setting name="TestLabels" serializeAs="String">
                <value>C:\datasets\mnist\t10k-labels-idx1-ubyte</value>
            </setting>
            <setting name="TestImages" serializeAs="String">
                <value>C:\datasets\mnist\t10k-images-idx3-ubyte</value>
            </setting>
        </mnist_hmm.Properties.Settings>
    </userSettings>
</configuration>